/* Google Fonts - Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);  
}

.container h3 {
    text-align: center;
    padding: 0em 0em 0.5em 0em;
}

#myContainer{
    border: 1px solid blue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 2rem 1rem;
    width: 40vw;
    margin: 5rem auto;
    background-color: #fff;
}


#text-area {
    padding: 0.4em 0.4em;
}

/* Hide Arrow from number input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}